@model Domain.Position

@{
    ViewData["Title"] = "Delete";
}

<h2>@Resources.Common.Delete</h2>

<h3>@Resources.Common.AreYouSure</h3>
<div>
    <h4>Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsMarketer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsMarketer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionName.PositionNameId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PositionId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" asp-controller="Projects">@Resources.Common.BackToList</a>
    </form>
</div>
