@model Domain.ProjectType

@{
    ViewData["Title"] = "Details";
}

<h2>@Resources.Common.Details</h2>

<div>
    <h4>ProjectType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTypeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectTypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectTypeComments)
        </dt>
        <dd>
            @Html.Raw(Model.ProjectTypeComments)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectTypeId">@Resources.Common.Edit</a> |
    <a asp-action="Index">@Resources.Common.BackToList</a>
</div>
