@{
    ViewData["Title"] = "Home Page";
}

<h2>@Resources.WebApp.Views.Home.Index.Welcome </h2>

@if (!User.Identity.IsAuthenticated)
{
    <h3>@Resources.WebApp.Views.Home.Index.Title</h3>


    <p>@Resources.WebApp.Views.Home.Index.Welcome </p>

    <p>@Resources.WebApp.Views.Home.Index.LogInSuggestion </p>

}
else if (!(User.IsInRole("User") || User.IsInRole("Marketer")))
{
    <p>@Resources.WebApp.Views.Home.Index.AdminWarning </p>
    <p>@Resources.WebApp.Views.Home.Index.ContactAdmin </p>
}
else
{
    <p>@Resources.WebApp.Views.Home.Index.Welcome </p>
    <p>@Resources.WebApp.Views.Home.Index.WelcomeLoggedIn </p>
    <p>@Resources.WebApp.Views.Home.Index.PAInstructions </p>



}
