@model WebApp.Areas.Users.Models.CompaniesCreateEditViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>@Resources.WebApp.Areas.Users.Companies.Create.CreateNew</h2>

<h4>@Resources.WebApp.Areas.Users.Companies.Create.Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
     
        <form asp-action="Create" asp-route-fromProject="@Model.fromProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.Partial("_CreateEdit")

            <div class="form-group">
                <input type="submit" value="@Resources.WebApp.Areas.Users.Companies.Create.CreateNew" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @*@if (@ViewBag.fromProject == null)*@
    @if (Model.fromProject.HasValue && Model.fromProject > 0)
    {
        <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.fromProject">@Resources.WebApp.Areas.Users.Companies.Create.BackToProject</a>
    }
    else
    {
        <a asp-action="Index">@Resources.WebApp.Areas.Users.Companies.Create.SeeAllCompanies</a>

    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
