@model WebApp.Areas.Users.Models.CompaniesCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@Resources.WebApp.Areas.Users.Companies.Edit.EditCompany</h2>

<h4>@Resources.WebApp.Areas.Users.Companies.Edit.Company @Model.Company.CompanyName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.CompanyId" />

            @Html.Partial("_CreateEdit")
            <div class="form-group">
                <input type="submit" value="@Resources.WebApp.Areas.Users.Companies.Edit.Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Company.CompanyId">@Resources.WebApp.Areas.Users.Companies.Edit.Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
