@model IEnumerable<Domain.Position>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsMarketer)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMarketer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName.PositionNameId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PositionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PositionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PositionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
