@model Domain.Speciality

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Speciality</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SpecialityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialityNameEst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialityNameEst)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpecialityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
