@model IEnumerable<Domain.Speciality>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpecialityNameEst)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialityNameEst)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecialityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecialityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecialityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
