@model IEnumerable<Domain.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectNameEst)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectEndDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectNameEst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectType.ProjectTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
