@model IEnumerable<Domain.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsNewContactNeeded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewContactDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewContactType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNewContactNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewContactDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewContactType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactType.ContactTypeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
