@model Domain.CompanyWorker

@{
    ViewData["Title"] = "Delete";
}

<h2>@Resources.Shared.Delete</h2>

<h3>@Resources.Shared.AreYouSureDelete</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntryAdded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EntryAdded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyWorkerPosition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyWorkerPosition.CompanyWorkerPositionId)
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-fromProject="@ViewBag.fromProject">
        <input type="hidden" asp-for="CompanyWorkerId" />
        <input type="submit" value="@Resources.Shared.Delete" class="btn btn-default" /> |
        <a asp-action="Details" asp-controller="Companies" asp-route-id="@ViewBag.fromProject">@Resources.Shared.BackToCompany</a>
    </form>
</div>
