@model WebApp.Areas.Users.Models.CompanyWorkerEditVM

@{
    ViewData["Title"] = "Edit";
}
<h2>@Resources.Shared.Edit</h2>

<h4>@Resources.Domain.CompanyWorker.CompanyWorkerId</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-fromProject="@Model.fromProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanyWorker.CompanyWorkerId" />
            <input type="hidden" asp-for="CompanyWorker.CompanyId" />

            <div class="form-group">
                <label asp-for="CompanyWorker.WorkerName" class="control-label"></label>
                <input asp-for="CompanyWorker.WorkerName" class="form-control" />
                <span asp-validation-for="CompanyWorker.WorkerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWorker.CompanyWorkerPosition" class="control-label"></label>
                <select asp-for="CompanyWorker.CompanyWorkerPositionId" class="form-control" asp-items="Model.WorkerPositionSelectList"></select>
                <span asp-validation-for="CompanyWorker.CompanyWorkerPositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWorker.WorkerPhone" class="control-label"></label>
                <input asp-for="CompanyWorker.WorkerPhone" class="form-control" />
                <span asp-validation-for="CompanyWorker.WorkerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyWorker.WorkerEmail" class="control-label"></label>
                <input asp-for="CompanyWorker.WorkerEmail" class="form-control" />
                <span asp-validation-for="CompanyWorker.WorkerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Resources.Shared.Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Companies" asp-route-id="@Model.fromProject">@Resources.Shared.BackToCompany</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
